include myheader.pug
    // Page Content
.container.mt-4
    .jumbotron
    h1 About Us
    p Welcome to My Website. We are dedicated to providing the best service.
    p Our mission is to deliver quality content and a great user experience.
include myfooter.pug