doctype html 
html 
    head 
        title attributes in pug 
    body 
        h1 table in pug <hr/>
        table(align='center',cellpadding='10',cellspacing='5',border=1)
            tr 
                td(width='100px',bgcolor='gray').
                    Sr No 
                td(width='400px',bgcolor='gray'). 
                    Name 
            tr 
                td.
                    1
                td. 
                    Ankit 
            tr 
                td.
                    2 
                td. 
                    Kartik 

