doctype html 
html 
    head 
        title 3rd example of pug 
    body 
        h1 3rd example 
        h2. 
            ॥ જાપ ॥ <hr/>
        div. 
            ૐ ભુર્ભુવસ્વઃ તત્સ વિતુર વરેનિયમ <br/>
            ભર્ગોદેવસ્ય ઘી મહી <br/>
            ધિયો યો નઃ પ્રચોદયાત ॥  <br/>
