doctype html 
html 
    head 
        title 2nd example of pug 
    body 
        h1 2nd example of pug 
        p 
            | first line in paragraph <br/>
            | second line in paragraph 
        p 
            | first line in 2nd paragraph <br/>
            | second line in 2nd paragraph 
            
